
td{
    border-radius: 100px;
}

table{
    background-color: blue;
    margin-left: 450px;
    margin-top: 65px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
h1{
    margin-left: 650px;
}
h2{
    margin-left: 40vw;
}
button{
    margin-left: 45vw;
}
h3{
    margin-left: 42vw;
    margin-bottom: -50px;
}
p{
    float:left;
    
}
@keyframes drop {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}
